/* miniplayer style */
#launcher-19 > box > button {
	padding-right: unset;
	margin-right: unset;
    padding: 5px;
}
#launcher-17 > box > button {
	padding: unset;
	margin: unset;
}
#launcher-25 > box > button {
	padding-left: unset;
	margin-left: unset;
    padding: 5px;
}




#launcher-19 > box > button > image {
	background: linear-gradient(gray, black);
    border-style: solid;
	border-width: 1px;
    border-radius: 50%;
}
#launcher-17 > box > button > image {
	background: linear-gradient(gray, black);
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
}
#launcher-25 > box > button > image {
	background: linear-gradient(gray, black);
    border-style: solid;
	border-width: 1px;
    border-radius: 50%;
}
