/*
You can type here any CSS rule recognized by GTK+.
You can temporarily disable this custom CSS by clicking on the “Pause” button above.

Changes are applied instantly and globally, for the whole application.
*/

#launcher-19 > box > button {
	padding-right: unset;
	margin-right: unset;
}
#launcher-17 > box > button {
	padding: unset;
	margin: unset;
}
#launcher-25 > box > button {
	padding-left: unset;
	margin-left: unset;
}


#launcher-19 > box > button > image {
	background: linear-gradient(gray, black);
	border-top-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	border-width: 1px;
	border-top-left-radius: 50%;
	border-bottom-left-radius: 50%;
}
#launcher-17 > box > button > image {
	background: linear-gradient(gray, black);
	border-style: solid;
	border-width: 1px;
	border-radius: 50%;
}
#launcher-25 > box > button > image {
	background: linear-gradient(gray, black);
	border-top-style: solid;
	border-bottom-style: solid;
	border-right-style: solid;
	border-width: 1px;
	border-top-right-radius: 50%;
	border-bottom-right-radius: 50%;
}